<h1>Listing translations</h1>

<table id="translations-table">
  <tr>
    <th>Reference</th>
    <th>Title</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Translation</a>