<h1>New translation</h1>

<form id="new-translation" name="translation">
  <div class="field">
    <label for="reference"> reference:</label>
    <input type="text" name="reference" id="reference" value=<%= reference %> >
  </div>

  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value=<%= title %> >
  </div>

  <div class="field">
    <label for="body"> body:</label>
    <input type="text" name="body" id="body" value=<%= body %> >
  </div>

  <div class="actions">
    <input type="submit" value="Create Translation" />
  </div>

</form>

<a href="#/index">Back</a>