
<p>Herramienta para la traducción y comentarios colectivos
de los cables publicados por wikileaks.</p>
<p><strong>Prueba a utilizar el buscador...</strong></p>

<br/>

<div id="dashboard" class="row">
<div id="last_cables" class="span10 columns">
<h4>Últimos cables traducidos</h4>
<table>
<tbody>
<% @last_cables.each do |cable| %>
<tr>
<td><%= link_to cable.identifier, cable %></td>
<td><%= cable.subject %></td>
</tr>
<% end %>
</tbody>
</table>
</div>
<div id="last_activity" class="span6 columns">
<h4>Actividad reciente</h4>
<table>
<tbody>
<% @last_activity.each do |activity| %>
<%= render activity %>
<% end %>
</tbody>
</table>
</div>
</div>

