
<p>Herramienta para la traducción y comentarios colectivos
de los cables publicados por wikileaks.</p>
<p><strong>Prueba a utilizar el buscador...</strong></p>
<br/><br><br>
<p>Este software es, por supuesto, código libre.<br/>
Puedes colaborar aquí:
<a href="https://github.com/recortable/Leaker">
https://github.com/recortable/Leaker</a>

