<h1>Leaker</h1>
<form class="form-stacked">
<fieldset>
<div class="clearfix">
  <label for="searchTerm">Buscar en wikileaks:</label>
    <div class="input">
      <input class="xlarge" id="searchTerm" name="searchTerm" size="30" type="text">
  <button type="submit" class="btn">Buscar!</button>
  </div>
</fieldset>
</div>

