
<% title 'Entrada' %>
<div class="alert-message block-message info">
        <a class="close" href="#">×</a>
        <p><em>Leaker</em> es una herramienta (actualmente
 <a href="https://github.com/recortable/Leaker"> en construcción</a>)
 que permite la traducción, organización y comentarios colectivos
de los cables publicados por wikileaks.</p>
<p><strong>Prueba a utilizar el buscador de arriba...</strong></p>
      </div>

<br/>

<div id="dashboard" class="row ajax">
Cargando...
</div>

