// Place all the styles related to the client controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.page {
  margin-top: 60px;
}

div.row.paragraph {border-bottom: 1px solid #efefef; margin-bottom:5px;}

div.row.info {
  border-bottom: 1px solid gray;
  margin-bottom: 5px;

}

