<div class="alert-message block-message warning" id="searching" style="display:none;">
        <p><strong>Buscando, espera un segundo...</strong>
</div>

<h2 class="term">Cables</h2>

<table>
<thead>
<th>Referencia</th>
<th>Título</th>
</thead>
<tbody>
</tbody>
</table>

