
div#viewport {
  position: fixed;
  left:0;right:0;bottom:0;
  top: 42px;
  overflow: auto;
}

div.topbar #session {float: right;}

div.page {
  margin-top: 10px;
}

form div.row textarea {width: 100%;}

form div.input {margin-left: 0;margin-bottom: 10px;}
form span.error {display:block;color: #c00;}
form textarea {width: 90%; height: 10em;}



div.bottom.actions {
background: whiteSmoke;
margin: 0 0 20px 0;
padding: 2px 5px;
border-bottom: 1px solid #DDD;
border-top: 0;
-webkit-border-radius: 0 0 3px 3px;
-moz-border-radius: 0 0 3px 3px;
border-radius: 0 0 3px 3px;
}

.actions {padding: 2px; margin: 2px 0 0 0;}


#footer {margin-top: 40px; padding: 5px 0; text-align:center;
border-top: 1px solid #ddd;}

form #email {display: none;}

