<!DOCTYPE html>
<html>
<head>
  <title>Leaker</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="topbar">
      <div class="fill">
        <div class="container">
          <h3><a href="#">Leaker</a></h3>
          <ul>
            <!-- li class="active"><a href="#">Inicio</a></li-->
          </ul>
          <form action="">
            <input type="text" id="quickSearch" placeholder="Buscar wikileaks...">
          </form>
        </div>
      </div> <!-- /fill -->
    </div>
<div class="container">
<div class="page">
<%= yield %>
</div>
</div>
</body>
</html>

